.list {
    display: flexbox;
    justify-content: flex-start;
}

.listItem {

    background-color: #0C1430;
    color: #FFFF;
    width: fit-content;
    height: auto;
    cursor: pointer;
    padding: 10px;
}