nav {
    display: flex;
    background-color: #0C1430;
    width: 100%;
    height: 80px;
    font-size: 48px;
    text-align: right;
    color: white;

}

.logo {
    margin-left: 20px;
    order: 1;
    width: 40%;
    height:100%;
}
.logo img {
    float: left;
}

.nav-links{
    order: 2;
    width: 60%;
    margin: auto;
    margin-right: 30px;
 }
 .nav-links a {
     padding: 15px;

 }


 @media only screen and (max-width: 1100px) {
    .menu{
        order: 2;
        width: 50%;
        margin: auto;    
    }
    .nav-links {
        display: none;
        margin-top: 1000px;
    }
    .activeDrop a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        background-color: white;
        opacity: .9;
        color: gray;
        text-align: center;
        transition: 2s;
}
   .nav-logo{
       width: 50%;
   }
   .activeDrop {
       display: block ;
       width: 100%;
       margin-top: 11%;
       padding: 0px;
       animation: fadein 2s;
       position: absolute;
    }
    .activeDrop a {
        margin:0px;
        padding: 0px;
    }
   
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}